<div>Hello <span>world</span></div>
<div>Hello</div>
<button title='Place the order'>Order Now</button>
<label>Password <input type="password" /></label>
<input type="email" placeholder="name@example.com" />

<span>Welcome, John</span>
<img alt="playwright logo" src="./Browsers.png" width="100" />
