hihihi
<div id="my-frame">
  <button>Sign in</button>
</div>
<button data-pw="directions">Itinéraire</button>
<x-details role=button aria-expanded=true aria-controls=inner-details>
  <div>Title</div>
  #shadow-root
  <div id=inner-details>Details</div>
</x-details>

<div role="listitem">
  <h3>Product 1</h3>
  <button>Add to cart</button>
</div>
<div role="listitem">
  <h3>Product 2</h3>
  <button>Add to cart</button>
</div>
